<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <!-- Servlet tanımı -->
  <servlet>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>org.mehmet.inventorymanagementsystem.controller.ProductController</servlet-class>
  </servlet>

  <!-- Servlet mapping (URL yönlendirmesi) -->
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/products/*</url-pattern> <!-- Wildcard kullanarak tüm alt URL'lere yönlendirme yapılacak -->
  </servlet-mapping>

  <!-- Varsayılan açılış sayfası -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
